# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
polly-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

.elixir_ls/
*.plt
credo_report/
.elixir-tools

# Ignore directories created by editors and IDEs
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore node_modules (if using assets with Node.js)
assets/node_modules/

# Ignore logs and temporary files
/log
/tmp

# Ignore secrets and environment variables
config/*.secret.exs
.env
.env.*

# Ignore compiled output
*.beam
*.ez

\.elixir-tools\next-ls.log